@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* BELOW THIS LINE ONLY FOR DEBUG */

.embla {
  width: 100%;
  --slide-height: 500px;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  gap: var(--slide-spacing);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}
.embla__slide__number {
  display: block;
  position: relative;
  height: var(--slide-height);
  user-select: none;
}
.embla-thumbs {
  --thumbs-slide-spacing: 1.5rem;
  --thumbs-slide-height: 6rem;
  padding-top: var(--thumbs-slide-spacing);
  padding-bottom: var(--thumbs-slide-spacing);
  overflow-x: hidden;
}
.embla-thumbs__viewport {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.embla-thumbs__viewport::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  padding-right: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
  flex: 0 0 20%;
  min-width: 0;
  margin-left: var(--thumbs-slide-spacing);
  position: relative;
  filter: grayscale(1);
}
.embla-thumbs__slide:last-child{
  margin-right: var(--thumbs-slide-spacing);
}
.embla-thumbs__slide__number {
  position: relative;
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  width: 100%;
}
.embla-thumbs__slide--selected {
  filter: drop-shadow(2px 0px 10px #000000);
  transform: translateY(-5px);
}